html {
   background-color: #E09722;
}
.nav-bar {
    background-color: #E09722;
    display: flex;
    justify-content: space-between;
    max-height: 10%;
    align-items: center;
}
.title, .new-idea, .button {
    background-color: #E09722;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em
}

.body {display: flex}
.text-field {
    background-color: papayawhip;
    padding:1em;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.logo { max-height: 35%; max-width: 35%}
.sub-navigation {width: 50%; display: flex; justify-content: space-around; flex-direction: row;}
.panel {display: flex; justify-content: space-around}

.layout {
    background-color: #E09722;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.posted-by {display: flex; flex-direction: row;}
